<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.github.cchao.touchnews"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--umeng - analytics-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="com.github.cchao.touchnews.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--umeng - analytics-->
        <meta-data android:value="5739942de0f55a0b3c001aab" android:name="UMENG_APPKEY"/>
        <meta-data android:value="APP01" android:name="UMENG_CHANNEL"/>

        <activity
            android:name="com.github.cchao.touchnews.ui.activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name="com.github.cchao.touchnews.ui.activity.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.cchao.touchnews.ui.activity.NewsDetailActivity"
            android:theme="@style/AppTheme.NoActionBar.Translucent"/>
        <activity
            android:name="com.github.cchao.touchnews.ui.activity.ImageBrowseActivity"
            android:theme="@style/AppTheme.NoActionBar.Translucent"/>
        <activity
            android:name="com.github.cchao.touchnews.ui.activity.WeatherDetailActivity"
            android:theme="@style/AppTheme.NoActionBar.Translucent"/>
    </application>

</manifest>
